# Fetching Data from polygon webpage for latest data updated every 30 seconds (https://polygon.io/docs/stocks/get_v2_aggs_grouped_locale_us_market_stocks__date)

In [1]:
# import libraries
import requests
from requests import Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import pandas as pd
from alphavantage_config import API_Key
import numpy as np
import pymongo
from pymongo import MongoClient
import certifi
from mongo2_config import mongo_uri

# Top Stocks Daily

In [2]:
symbols = ['AAPL', 'MSFT', 'V', 'AMJ', 'JNJ']
Top_stocks1_daily_df = pd.DataFrame()

for name in symbols:    
    api_endpoint = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol='
    api_endpoint += name+"&apikey="+API_Key
    data_retrieved = requests.get(api_endpoint).json()    
    Stock_daily_df = pd.json_normalize(data_retrieved)
    Top_stocks1_daily_df = Top_stocks1_daily_df.append(Stock_daily_df, ignore_index = True)
    
Top_stocks1_daily_df
    #     api_endpoint

,Global Quote.01. symbol,Global Quote.02. open,Global Quote.03. high,Global Quote.04. low,Global Quote.05. price,Global Quote.06. volume,Global Quote.07. latest trading day,Global Quote.08. previous close,Global Quote.09. change,Global Quote.10. change percent
0,AAPL,166.9800,169.6800,164.1800,164.5100,85829574,2022-01-20,166.2300,-1.7200,-1.0347%
1,MSFT,309.0700,311.6494,301.1400,301.6000,34786422,2022-01-20,303.3300,-1.7300,-0.5703%
2,V,214.7200,219.6030,213.9400,214.3500,8430120,2022-01-20,214.6800,-0.3300,-0.1537%
3,AMJ,19.5900,19.8900,19.4300,19.4400,982945,2022-01-20,19.6600,-0.2200,-1.1190%
4,JNJ,167.2900,167.8590,164.9300,165.2500,5805587,2022-01-20,166.5800,-1.3300,-0.7984%

In [4]:
symbols = ['WMT', 'UNH', 'PG', 'DIS', 'HD']
Top_stocks2_daily_df = pd.DataFrame()

for name in symbols:    
    api_endpoint = 'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol='
    api_endpoint += name+"&apikey="+API_Key
    data_retrieved = requests.get(api_endpoint).json()    
    Stock_daily_df = pd.json_normalize(data_retrieved)
    Top_stocks2_daily_df = Top_stocks2_daily_df.append(Stock_daily_df, ignore_index = True)
    
Top_stocks2_daily_df

,Global Quote.01. symbol,Global Quote.02. open,Global Quote.03. high,Global Quote.04. low,Global Quote.05. price,Global Quote.06. volume,Global Quote.07. latest trading day,Global Quote.08. previous close,Global Quote.09. change,Global Quote.10. change percent
0,WMT,142.3500,144.4600,141.0700,141.2200,7448207,2022-01-20,143.9400,-2.7200,-1.8897%
1,UNH,464.3800,471.6300,462.0000,463.0000,3205281,2022-01-20,462.5200,0.4800,0.1038%
2,PG,160.1200,164.3300,160.1200,162.0000,10761989,2022-01-20,162.0000,0.0000,0.0000%
3,DIS,150.9050,152.6600,147.1500,147.6200,10195121,2022-01-20,150.1100,-2.4900,-1.6588%
4,HD,361.3300,361.8500,349.0200,349.5800,5313304,2022-01-20,359.6900,-10.1100,-2.8108%

In [5]:
# Combine both dataframes
Top_stocks_daily_df = Top_stocks1_daily_df.append(Top_stocks2_daily_df, ignore_index = True)
Top_stocks_daily_df

,Global Quote.01. symbol,Global Quote.02. open,Global Quote.03. high,Global Quote.04. low,Global Quote.05. price,Global Quote.06. volume,Global Quote.07. latest trading day,Global Quote.08. previous close,Global Quote.09. change,Global Quote.10. change percent
0,AAPL,166.9800,169.6800,164.1800,164.5100,85829574,2022-01-20,166.2300,-1.7200,-1.0347%
1,MSFT,309.0700,311.6494,301.1400,301.6000,34786422,2022-01-20,303.3300,-1.7300,-0.5703%
2,V,214.7200,219.6030,213.9400,214.3500,8430120,2022-01-20,214.6800,-0.3300,-0.1537%
3,AMJ,19.5900,19.8900,19.4300,19.4400,982945,2022-01-20,19.6600,-0.2200,-1.1190%
4,JNJ,167.2900,167.8590,164.9300,165.2500,5805587,2022-01-20,166.5800,-1.3300,-0.7984%
5,WMT,142.3500,144.4600,141.0700,141.2200,7448207,2022-01-20,143.9400,-2.7200,-1.8897%
6,UNH,464.3800,471.6300,462.0000,463.0000,3205281,2022-01-20,462.5200,0.4800,0.1038%
7,PG,160.1200,164.3300,160.1200,162.0000,10761989,2022-01-20,162.0000,0.0000,0.0000%
8,DIS,150.9050,152.6600,147.1500,147.6200,10195121,2022-01-20,150.1100,-2.4900,-1.6588%
9,HD,361.3300,361.8500,349.0200,349.5800,5313304,2022-01-20,359.6900,-10.1100,-2.8108%

In [6]:
# Finding null values
Top_stocks_daily_df.isnull().sum().sum()
Top_stocks_daily_df.isna().sum()

Global Quote.01. symbol                0
Global Quote.02. open                  0
Global Quote.03. high                  0
Global Quote.04. low                   0
Global Quote.05. price                 0
Global Quote.06. volume                0
Global Quote.07. latest trading day    0
Global Quote.08. previous close        0
Global Quote.09. change                0
Global Quote.10. change percent        0
dtype: int64

In [7]:
# Drop columns that have null values as those columns are irrelevant
Top_stocks_daily_df = Top_stocks_daily_df.dropna(axis=1)
Top_stocks_daily_df

,Global Quote.01. symbol,Global Quote.02. open,Global Quote.03. high,Global Quote.04. low,Global Quote.05. price,Global Quote.06. volume,Global Quote.07. latest trading day,Global Quote.08. previous close,Global Quote.09. change,Global Quote.10. change percent
0,AAPL,166.9800,169.6800,164.1800,164.5100,85829574,2022-01-20,166.2300,-1.7200,-1.0347%
1,MSFT,309.0700,311.6494,301.1400,301.6000,34786422,2022-01-20,303.3300,-1.7300,-0.5703%
2,V,214.7200,219.6030,213.9400,214.3500,8430120,2022-01-20,214.6800,-0.3300,-0.1537%
3,AMJ,19.5900,19.8900,19.4300,19.4400,982945,2022-01-20,19.6600,-0.2200,-1.1190%
4,JNJ,167.2900,167.8590,164.9300,165.2500,5805587,2022-01-20,166.5800,-1.3300,-0.7984%
5,WMT,142.3500,144.4600,141.0700,141.2200,7448207,2022-01-20,143.9400,-2.7200,-1.8897%
6,UNH,464.3800,471.6300,462.0000,463.0000,3205281,2022-01-20,462.5200,0.4800,0.1038%
7,PG,160.1200,164.3300,160.1200,162.0000,10761989,2022-01-20,162.0000,0.0000,0.0000%
8,DIS,150.9050,152.6600,147.1500,147.6200,10195121,2022-01-20,150.1100,-2.4900,-1.6588%
9,HD,361.3300,361.8500,349.0200,349.5800,5313304,2022-01-20,359.6900,-10.1100,-2.8108%

In [8]:
# change column names
Top_stocks_daily_df= Top_stocks_daily_df.rename(columns={

    'Global Quote.01. symbol' : 'Symbol',
    'Global Quote.02. open' : 'Open',
    'Global Quote.03. high' : 'High',
    'Global Quote.04. low' : 'Low',
    'Global Quote.05. price' : 'Price',
    'Global Quote.06. volume' : 'volume',
    'Global Quote.07. latest trading day' : 'Latest_Trading_day',
    'Global Quote.08. previous close' : 'Previous_close',
    'Global Quote.09. change' : 'Change',
    'Global Quote.10. change percent' : 'Change_percent'})

Top_stocks_daily_df

,Symbol,Open,High,Low,Price,volume,Latest_Trading_day,Previous_close,Change,Change_percent
0,AAPL,166.9800,169.6800,164.1800,164.5100,85829574,2022-01-20,166.2300,-1.7200,-1.0347%
1,MSFT,309.0700,311.6494,301.1400,301.6000,34786422,2022-01-20,303.3300,-1.7300,-0.5703%
2,V,214.7200,219.6030,213.9400,214.3500,8430120,2022-01-20,214.6800,-0.3300,-0.1537%
3,AMJ,19.5900,19.8900,19.4300,19.4400,982945,2022-01-20,19.6600,-0.2200,-1.1190%
4,JNJ,167.2900,167.8590,164.9300,165.2500,5805587,2022-01-20,166.5800,-1.3300,-0.7984%
5,WMT,142.3500,144.4600,141.0700,141.2200,7448207,2022-01-20,143.9400,-2.7200,-1.8897%
6,UNH,464.3800,471.6300,462.0000,463.0000,3205281,2022-01-20,462.5200,0.4800,0.1038%
7,PG,160.1200,164.3300,160.1200,162.0000,10761989,2022-01-20,162.0000,0.0000,0.0000%
8,DIS,150.9050,152.6600,147.1500,147.6200,10195121,2022-01-20,150.1100,-2.4900,-1.6588%
9,HD,361.3300,361.8500,349.0200,349.5800,5313304,2022-01-20,359.6900,-10.1100,-2.8108%

# Exporting data to csv and Uploading on MongoDb

# Extracting Monthly data

In [9]:
# Extracting monthly data
symbols = ['AAPL', 'MSFT', 'V', 'AMJ', 'JNJ']
Top_stocks1_monthly_df = pd.DataFrame()

for name in symbols:    
    api_endpoint = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='
    api_endpoint += name+"&apikey="+API_Key
    data_retrieved = requests.get(api_endpoint).json()
    Stock_monthly_df = pd.json_normalize(data_retrieved)
    Top_stocks1_monthly_df = Top_stocks1_monthly_df.append(Stock_monthly_df, ignore_index = True)
    
Top_stocks1_monthly_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Time Zone,Monthly Adjusted Time Series.2022-01-20.1. open,Monthly Adjusted Time Series.2022-01-20.2. high,Monthly Adjusted Time Series.2022-01-20.3. low,Monthly Adjusted Time Series.2022-01-20.4. close,Monthly Adjusted Time Series.2022-01-20.5. adjusted close,Monthly Adjusted Time Series.2022-01-20.6. volume,...,Monthly Adjusted Time Series.2000-01-31.5. adjusted close,Monthly Adjusted Time Series.2000-01-31.6. volume,Monthly Adjusted Time Series.2000-01-31.7. dividend amount,Monthly Adjusted Time Series.1999-12-31.1. open,Monthly Adjusted Time Series.1999-12-31.2. high,Monthly Adjusted Time Series.1999-12-31.3. low,Monthly Adjusted Time Series.1999-12-31.4. close,Monthly Adjusted Time Series.1999-12-31.5. adjusted close,Monthly Adjusted Time Series.1999-12-31.6. volume,Monthly Adjusted Time Series.1999-12-31.7. dividend amount
0,Monthly Adjusted Prices and Volumes,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,...,0.7941,112099800,0.0000,101.0000,118.0000,91.0600,102.8100,0.7869,84091200,0.0000
1,Monthly Adjusted Prices and Volumes,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,...,30.9610,637437600,0.0000,91.0600,119.9400,90.8700,116.7500,36.9336,630488900,0.0000
2,Monthly Adjusted Prices and Volumes,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monthly Adjusted Prices and Volumes,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monthly Adjusted Prices and Volumes,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,...,24.6383,76758100,0.0000,103.3000,103.4000,90.1300,93.2500,26.6967,71283600,0.0000

In [10]:
# Extracting monthly data
symbols = ['WMT', 'UNH', 'PG', 'DIS', 'HD']
Top_stocks2_monthly_df = pd.DataFrame()

for name in symbols:    
    api_endpoint = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY_ADJUSTED&symbol='
    api_endpoint += name+"&apikey="+API_Key
    data_retrieved = requests.get(api_endpoint).json()
    Stock_monthly_df = pd.json_normalize(data_retrieved)
    Top_stocks2_monthly_df = Top_stocks2_monthly_df.append(Stock_monthly_df, ignore_index = True)
    
Top_stocks2_monthly_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Time Zone,Monthly Adjusted Time Series.2022-01-20.1. open,Monthly Adjusted Time Series.2022-01-20.2. high,Monthly Adjusted Time Series.2022-01-20.3. low,Monthly Adjusted Time Series.2022-01-20.4. close,Monthly Adjusted Time Series.2022-01-20.5. adjusted close,Monthly Adjusted Time Series.2022-01-20.6. volume,...,Monthly Adjusted Time Series.2000-01-31.5. adjusted close,Monthly Adjusted Time Series.2000-01-31.6. volume,Monthly Adjusted Time Series.2000-01-31.7. dividend amount,Monthly Adjusted Time Series.1999-12-31.1. open,Monthly Adjusted Time Series.1999-12-31.2. high,Monthly Adjusted Time Series.1999-12-31.3. low,Monthly Adjusted Time Series.1999-12-31.4. close,Monthly Adjusted Time Series.1999-12-31.5. adjusted close,Monthly Adjusted Time Series.1999-12-31.6. volume,Monthly Adjusted Time Series.1999-12-31.7. dividend amount
0,Monthly Adjusted Prices and Volumes,WMT,2022-01-20,US/Eastern,144.0000,146.6300,141.0700,141.2200,141.2200,102469510,...,36.8099,135751100,0.0000,57.6900,70.2500,57.0000,69.1300,46.4779,137085100,0.0500
1,Monthly Adjusted Prices and Volumes,UNH,2022-01-20,US/Eastern,500.0000,503.7500,454.4400,463.0000,463.0000,53265150,...,5.4975,22665900,0.0000,51.3800,56.3800,48.9400,53.1200,5.5100,14527800,0.0000
2,Monthly Adjusted Prices and Volumes,PG,2022-01-20,US/Eastern,161.6900,165.3200,156.0400,162.0000,162.0000,120739251,...,28.2890,90656200,0.3200,108.8000,115.6000,103.5000,109.6000,30.5826,40484200,0.0000
3,Monthly Adjusted Prices and Volumes,DIS,2022-01-20,US/Eastern,155.8300,160.3200,147.1500,147.6200,147.6200,140228969,...,28.2388,247148200,0.0000,27.6300,30.0000,27.1300,29.2500,22.7481,166963100,0.0000
4,Monthly Adjusted Prices and Volumes,HD,2022-01-20,US/Eastern,416.5700,417.8446,349.0200,349.5800,349.5800,60244715,...,36.5668,134837200,0.0000,79.6900,103.1000,67.2500,68.7500,44.3929,92669870,0.0000

In [11]:
# combine the monthly dataframe data into one dataframe
Top_stocks_monthly_df = Top_stocks1_monthly_df.append(Top_stocks2_monthly_df, ignore_index = True)
Top_stocks_monthly_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Time Zone,Monthly Adjusted Time Series.2022-01-20.1. open,Monthly Adjusted Time Series.2022-01-20.2. high,Monthly Adjusted Time Series.2022-01-20.3. low,Monthly Adjusted Time Series.2022-01-20.4. close,Monthly Adjusted Time Series.2022-01-20.5. adjusted close,Monthly Adjusted Time Series.2022-01-20.6. volume,...,Monthly Adjusted Time Series.2000-01-31.5. adjusted close,Monthly Adjusted Time Series.2000-01-31.6. volume,Monthly Adjusted Time Series.2000-01-31.7. dividend amount,Monthly Adjusted Time Series.1999-12-31.1. open,Monthly Adjusted Time Series.1999-12-31.2. high,Monthly Adjusted Time Series.1999-12-31.3. low,Monthly Adjusted Time Series.1999-12-31.4. close,Monthly Adjusted Time Series.1999-12-31.5. adjusted close,Monthly Adjusted Time Series.1999-12-31.6. volume,Monthly Adjusted Time Series.1999-12-31.7. dividend amount
0,Monthly Adjusted Prices and Volumes,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,...,0.7941,112099800,0.0000,101.0000,118.0000,91.0600,102.8100,0.7869,84091200,0.0000
1,Monthly Adjusted Prices and Volumes,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,...,30.9610,637437600,0.0000,91.0600,119.9400,90.8700,116.7500,36.9336,630488900,0.0000
2,Monthly Adjusted Prices and Volumes,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Monthly Adjusted Prices and Volumes,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Monthly Adjusted Prices and Volumes,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,...,24.6383,76758100,0.0000,103.3000,103.4000,90.1300,93.2500,26.6967,71283600,0.0000
5,Monthly Adjusted Prices and Volumes,WMT,2022-01-20,US/Eastern,144.0000,146.6300,141.0700,141.2200,141.2200,102469510,...,36.8099,135751100,0.0000,57.6900,70.2500,57.0000,69.1300,46.4779,137085100,0.0500
6,Monthly Adjusted Prices and Volumes,UNH,2022-01-20,US/Eastern,500.0000,503.7500,454.4400,463.0000,463.0000,53265150,...,5.4975,22665900,0.0000,51.3800,56.3800,48.9400,53.1200,5.5100,14527800,0.0000
7,Monthly Adjusted Prices and Volumes,PG,2022-01-20,US/Eastern,161.6900,165.3200,156.0400,162.0000,162.0000,120739251,...,28.2890,90656200,0.3200,108.8000,115.6000,103.5000,109.6000,30.5826,40484200,0.0000
8,Monthly Adjusted Prices and Volumes,DIS,2022-01-20,US/Eastern,155.8300,160.3200,147.1500,147.6200,147.6200,140228969,...,28.2388,247148200,0.0000,27.6300,30.0000,27.1300,29.2500,22.7481,166963100,0.0000
9,Monthly Adjusted Prices and Volumes,HD,2022-01-20,US/Eastern,416.5700,417.8446,349.0200,349.5800,349.5800,60244715,...,36.5668,134837200,0.0000,79.6900,103.1000,67.2500,68.7500,44.3929,92669870,0.0000

In [14]:
# Finding null values
Top_stocks_monthly_df.isnull().sum().sum()
Top_stocks_monthly_df.isna().sum()

Meta Data.1. Information                                      0
Meta Data.2. Symbol                                           0
Meta Data.3. Last Refreshed                                   0
Meta Data.4. Time Zone                                        0
Monthly Adjusted Time Series.2022-01-20.1. open               0
                                                             ..
Monthly Adjusted Time Series.2009-05-29.3. low                0
Monthly Adjusted Time Series.2009-05-29.4. close              0
Monthly Adjusted Time Series.2009-05-29.5. adjusted close     0
Monthly Adjusted Time Series.2009-05-29.6. volume             0
Monthly Adjusted Time Series.2009-05-29.7. dividend amount    0
Length: 1075, dtype: int64

In [13]:
# Drop columns that have null values as those columns are irrelevant
Top_stocks_monthly_df = Top_stocks_monthly_df.dropna(axis=1)
Top_stocks_monthly_df

,Meta Data.1. Information,Meta Data.2. Symbol,Meta Data.3. Last Refreshed,Meta Data.4. Time Zone,Monthly Adjusted Time Series.2022-01-20.1. open,Monthly Adjusted Time Series.2022-01-20.2. high,Monthly Adjusted Time Series.2022-01-20.3. low,Monthly Adjusted Time Series.2022-01-20.4. close,Monthly Adjusted Time Series.2022-01-20.5. adjusted close,Monthly Adjusted Time Series.2022-01-20.6. volume,...,Monthly Adjusted Time Series.2009-06-30.5. adjusted close,Monthly Adjusted Time Series.2009-06-30.6. volume,Monthly Adjusted Time Series.2009-06-30.7. dividend amount,Monthly Adjusted Time Series.2009-05-29.1. open,Monthly Adjusted Time Series.2009-05-29.2. high,Monthly Adjusted Time Series.2009-05-29.3. low,Monthly Adjusted Time Series.2009-05-29.4. close,Monthly Adjusted Time Series.2009-05-29.5. adjusted close,Monthly Adjusted Time Series.2009-05-29.6. volume,Monthly Adjusted Time Series.2009-05-29.7. dividend amount
0,Monthly Adjusted Prices and Volumes,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,...,4.3607,452699000,0.0000,125.8000,135.9000,119.3800,135.8100,4.1580,337755100,0.0000
1,Monthly Adjusted Prices and Volumes,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,...,18.1812,1411144700,0.0000,20.1900,20.9400,19.0100,20.8900,15.9784,1101122400,0.1300
2,Monthly Adjusted Prices and Volumes,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,...,14.2351,193053500,0.0000,64.1500,68.5600,62.6400,67.7100,15.4812,198672200,0.1050
3,Monthly Adjusted Prices and Volumes,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,...,9.8617,3855688,0.0000,21.2399,22.6600,21.0000,22.6600,10.0254,1260314,0.4507
4,Monthly Adjusted Prices and Volumes,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,...,39.2817,301738000,0.0000,52.5300,56.4800,51.6700,55.1600,38.1475,257261500,0.4900
5,Monthly Adjusted Prices and Volumes,WMT,2022-01-20,US/Eastern,144.0000,146.6300,141.0700,141.2200,141.2200,102469510,...,36.2115,417698500,0.0000,50.5000,51.3800,48.1200,49.7400,37.1834,377048900,0.2725
6,Monthly Adjusted Prices and Volumes,UNH,2022-01-20,US/Eastern,500.0000,503.7500,454.4400,463.0000,463.0000,53265150,...,20.8708,278463500,0.0000,23.5600,29.6900,22.7400,26.6000,22.2243,205106600,0.0000
7,Monthly Adjusted Prices and Volumes,PG,2022-01-20,US/Eastern,161.6900,165.3200,156.0400,162.0000,162.0000,120739251,...,34.7442,285414400,0.0000,49.6000,54.7705,48.5500,51.9400,35.3153,263419000,0.0000
8,Monthly Adjusted Prices and Volumes,DIS,2022-01-20,US/Eastern,155.8300,160.3200,147.1500,147.6200,147.6200,140228969,...,20.0985,230511000,0.0000,21.7600,26.2900,21.1200,24.2200,20.8652,329523500,0.0000
9,Monthly Adjusted Prices and Volumes,HD,2022-01-20,US/Eastern,416.5700,417.8446,349.0200,349.5800,349.5800,60244715,...,17.5599,350279000,0.2250,26.5800,26.7700,22.3300,23.1600,17.0530,425707400,0.0000

In [15]:
# change column names
Top_stocks_monthly_df= Top_stocks_monthly_df.rename(columns={
    
    'Meta Data.1. Information' : 'Information',
    'Meta Data.2. Symbol' : 'Symbol',
    'Meta Data.3. Last Refreshed' : 'Last_Refreshed',
    'Meta Data.4. Time Zone' : 'Time_Zone'
    })

Top_stocks_monthly_df

,Information,Symbol,Last_Refreshed,Time_Zone,Monthly Adjusted Time Series.2022-01-20.1. open,Monthly Adjusted Time Series.2022-01-20.2. high,Monthly Adjusted Time Series.2022-01-20.3. low,Monthly Adjusted Time Series.2022-01-20.4. close,Monthly Adjusted Time Series.2022-01-20.5. adjusted close,Monthly Adjusted Time Series.2022-01-20.6. volume,...,Monthly Adjusted Time Series.2009-06-30.5. adjusted close,Monthly Adjusted Time Series.2009-06-30.6. volume,Monthly Adjusted Time Series.2009-06-30.7. dividend amount,Monthly Adjusted Time Series.2009-05-29.1. open,Monthly Adjusted Time Series.2009-05-29.2. high,Monthly Adjusted Time Series.2009-05-29.3. low,Monthly Adjusted Time Series.2009-05-29.4. close,Monthly Adjusted Time Series.2009-05-29.5. adjusted close,Monthly Adjusted Time Series.2009-05-29.6. volume,Monthly Adjusted Time Series.2009-05-29.7. dividend amount
0,Monthly Adjusted Prices and Volumes,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,...,4.3607,452699000,0.0000,125.8000,135.9000,119.3800,135.8100,4.1580,337755100,0.0000
1,Monthly Adjusted Prices and Volumes,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,...,18.1812,1411144700,0.0000,20.1900,20.9400,19.0100,20.8900,15.9784,1101122400,0.1300
2,Monthly Adjusted Prices and Volumes,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,...,14.2351,193053500,0.0000,64.1500,68.5600,62.6400,67.7100,15.4812,198672200,0.1050
3,Monthly Adjusted Prices and Volumes,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,...,9.8617,3855688,0.0000,21.2399,22.6600,21.0000,22.6600,10.0254,1260314,0.4507
4,Monthly Adjusted Prices and Volumes,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,...,39.2817,301738000,0.0000,52.5300,56.4800,51.6700,55.1600,38.1475,257261500,0.4900
5,Monthly Adjusted Prices and Volumes,WMT,2022-01-20,US/Eastern,144.0000,146.6300,141.0700,141.2200,141.2200,102469510,...,36.2115,417698500,0.0000,50.5000,51.3800,48.1200,49.7400,37.1834,377048900,0.2725
6,Monthly Adjusted Prices and Volumes,UNH,2022-01-20,US/Eastern,500.0000,503.7500,454.4400,463.0000,463.0000,53265150,...,20.8708,278463500,0.0000,23.5600,29.6900,22.7400,26.6000,22.2243,205106600,0.0000
7,Monthly Adjusted Prices and Volumes,PG,2022-01-20,US/Eastern,161.6900,165.3200,156.0400,162.0000,162.0000,120739251,...,34.7442,285414400,0.0000,49.6000,54.7705,48.5500,51.9400,35.3153,263419000,0.0000
8,Monthly Adjusted Prices and Volumes,DIS,2022-01-20,US/Eastern,155.8300,160.3200,147.1500,147.6200,147.6200,140228969,...,20.0985,230511000,0.0000,21.7600,26.2900,21.1200,24.2200,20.8652,329523500,0.0000
9,Monthly Adjusted Prices and Volumes,HD,2022-01-20,US/Eastern,416.5700,417.8446,349.0200,349.5800,349.5800,60244715,...,17.5599,350279000,0.2250,26.5800,26.7700,22.3300,23.1600,17.0530,425707400,0.0000

In [16]:
Top_stocks_monthly_df.columns = Top_stocks_monthly_df.columns.str.replace(r'Monthly Adjusted Time Series.', '')
Top_stocks_monthly_df

C:\Users\lavin\AppData\Local\Temp/ipykernel_9152/800161027.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Top_stocks_monthly_df.columns = Top_stocks_monthly_df.columns.str.replace(r'Monthly Adjusted Time Series.', '')

,Information,Symbol,Last_Refreshed,Time_Zone,2022-01-20.1. open,2022-01-20.2. high,2022-01-20.3. low,2022-01-20.4. close,2022-01-20.5. adjusted close,2022-01-20.6. volume,...,2009-06-30.5. adjusted close,2009-06-30.6. volume,2009-06-30.7. dividend amount,2009-05-29.1. open,2009-05-29.2. high,2009-05-29.3. low,2009-05-29.4. close,2009-05-29.5. adjusted close,2009-05-29.6. volume,2009-05-29.7. dividend amount
0,Monthly Adjusted Prices and Volumes,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,...,4.3607,452699000,0.0000,125.8000,135.9000,119.3800,135.8100,4.1580,337755100,0.0000
1,Monthly Adjusted Prices and Volumes,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,...,18.1812,1411144700,0.0000,20.1900,20.9400,19.0100,20.8900,15.9784,1101122400,0.1300
2,Monthly Adjusted Prices and Volumes,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,...,14.2351,193053500,0.0000,64.1500,68.5600,62.6400,67.7100,15.4812,198672200,0.1050
3,Monthly Adjusted Prices and Volumes,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,...,9.8617,3855688,0.0000,21.2399,22.6600,21.0000,22.6600,10.0254,1260314,0.4507
4,Monthly Adjusted Prices and Volumes,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,...,39.2817,301738000,0.0000,52.5300,56.4800,51.6700,55.1600,38.1475,257261500,0.4900
5,Monthly Adjusted Prices and Volumes,WMT,2022-01-20,US/Eastern,144.0000,146.6300,141.0700,141.2200,141.2200,102469510,...,36.2115,417698500,0.0000,50.5000,51.3800,48.1200,49.7400,37.1834,377048900,0.2725
6,Monthly Adjusted Prices and Volumes,UNH,2022-01-20,US/Eastern,500.0000,503.7500,454.4400,463.0000,463.0000,53265150,...,20.8708,278463500,0.0000,23.5600,29.6900,22.7400,26.6000,22.2243,205106600,0.0000
7,Monthly Adjusted Prices and Volumes,PG,2022-01-20,US/Eastern,161.6900,165.3200,156.0400,162.0000,162.0000,120739251,...,34.7442,285414400,0.0000,49.6000,54.7705,48.5500,51.9400,35.3153,263419000,0.0000
8,Monthly Adjusted Prices and Volumes,DIS,2022-01-20,US/Eastern,155.8300,160.3200,147.1500,147.6200,147.6200,140228969,...,20.0985,230511000,0.0000,21.7600,26.2900,21.1200,24.2200,20.8652,329523500,0.0000
9,Monthly Adjusted Prices and Volumes,HD,2022-01-20,US/Eastern,416.5700,417.8446,349.0200,349.5800,349.5800,60244715,...,17.5599,350279000,0.2250,26.5800,26.7700,22.3300,23.1600,17.0530,425707400,0.0000

In [17]:
# Drop irrelevant columns
Top_stocks_monthly_df = Top_stocks_monthly_df.drop(columns=['Information'])
Top_stocks_monthly_df.head()

,Symbol,Last_Refreshed,Time_Zone,2022-01-20.1. open,2022-01-20.2. high,2022-01-20.3. low,2022-01-20.4. close,2022-01-20.5. adjusted close,2022-01-20.6. volume,2022-01-20.7. dividend amount,...,2009-06-30.5. adjusted close,2009-06-30.6. volume,2009-06-30.7. dividend amount,2009-05-29.1. open,2009-05-29.2. high,2009-05-29.3. low,2009-05-29.4. close,2009-05-29.5. adjusted close,2009-05-29.6. volume,2009-05-29.7. dividend amount
0,AAPL,2022-01-20,US/Eastern,177.8300,182.9400,164.1800,164.5100,164.5100,1173861914,0.0000,...,4.3607,452699000,0.0000,125.8000,135.9000,119.3800,135.8100,4.1580,337755100,0.0000
1,MSFT,2022-01-20,US/Eastern,335.3500,338.0000,301.1400,301.6000,301.6000,489144225,0.0000,...,18.1812,1411144700,0.0000,20.1900,20.9400,19.0100,20.8900,15.9784,1101122400,0.1300
2,V,2022-01-20,US/Eastern,217.5200,226.7900,206.5000,214.3500,214.3500,118507332,0.0000,...,14.2351,193053500,0.0000,64.1500,68.5600,62.6400,67.7100,15.4812,198672200,0.1050
3,AMJ,2022-01-20,US/Eastern,17.9400,20.1000,17.9100,19.4400,19.4400,12261693,0.0000,...,9.8617,3855688,0.0000,21.2399,22.6600,21.0000,22.6600,10.0254,1260314,0.4507
4,JNJ,2022-01-20,US/Eastern,170.2100,174.3000,164.9300,165.2500,165.2500,89069664,0.0000,...,39.2817,301738000,0.0000,52.5300,56.4800,51.6700,55.1600,38.1475,257261500,0.4900

# Exporting Daily Stock Market df to csv and uploading on MongoDB

In [18]:
# exporting the dataframe to csv
Top_stocks_daily_df.to_csv('Top_stocks_daily.csv')

In [19]:
# Read in mongodb server location as client
client = MongoClient(mongo_uri,tlsCAFile=certifi.where())

In [20]:
# Find Databases
client.list_database_names()

['Kaggle_data', 'Latest_Cryptodata', 'admin', 'local']

In [21]:
# connecting to the db on MongoDb and creating collection in the db
db = client['Latest_StockMarket']
collection = db['Latest_StockMarket_Daily_data']

In [22]:
# adding dataframe to mongoDb
Top_stocks_daily_df.reset_index(inplace=True)
Top_stocks_daily_df_dict = Top_stocks_daily_df.to_dict("records")

In [23]:
# Insert collection
collection.insert_many(Top_stocks_daily_df_dict)

# Exporting Monthly Stock Market df to csv and uploading on MongoDB

In [26]:
# exporting the dataframe to csv
Top_stocks_monthly_df.to_csv('Top_stocks_monthly.csv')

In [27]:
# Read in mongodb server location as client
client = MongoClient(mongo_uri,tlsCAFile=certifi.where())

In [28]:
# Find Databases
client.list_database_names()

['Kaggle_data', 'Latest_Cryptodata', 'Latest_StockMarket', 'admin', 'local']

In [29]:
# connecting to the db on MongoDb and creating collection in the db
db = client['Latest_StockMarket']
collection = db['Latest_StockMarket_Monthly_data']

In [30]:
# adding dataframe to mongoDb
Top_stocks_monthly_df.reset_index(inplace=True)
Top_stocks_monthly_df_dict = Top_stocks_monthly_df.to_dict("records")

In [31]:
# Insert collection
collection.insert_many(Top_stocks_monthly_df_dict)