In [1]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (3.12.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 4.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

In [16]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [13]:
# Read in mongodb server location as client
client = MongoClient("mongodb+srv://Group7:Finale@finalsegment1.690c0.mongodb.net/bitcoin_db?retryWrites=true&w=majority")

In [14]:
# Find Databases
client.list_database_names()

['Bitcoin_db',
 'Cardano_DB',
 'Ethereum_db',
 'Tether_DB',
 'XRP_DB',
 'admin',
 'local']

In [19]:
db = client['Cardano_DB']
#select the collection within the database
test = db.Cardano
#convert entire collection to Pandas dataframe
test = pd.DataFrame(list(test.find()))

test.head()

                        _id     ...      Volume     Marketcap
0  61d9f9ef0226095d9f381e6f  0  ...  57641300.0  6.288991e+08
1  61d9f9ef0226095d9f381e70  1  ...  16997800.0  5.396927e+08
2  61d9f9ef0226095d9f381e71  2  ...   9000050.0  5.686195e+08
3  61d9f9ef0226095d9f381e72  3  ...   5562510.0  5.571390e+08
4  61d9f9ef0226095d9f381e73  4  ...   7780710.0  4.806646e+08

[5 rows x 9 columns]