# Extracting Data from https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory and preprocessing and saving onto a MongoDB database

In [24]:
# import libraries
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import certifi

In [25]:
# create a dataframe from the csv
path ="C:/UC_Berkeley\Analysis_Projects_Class_Folder/Module20_Final_Project\Data_Kaggle_Historical/coin_Litecoin.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Litecoin,LTC,2013-04-29 23:59:59,4.573600,4.225640,4.366760,4.383900,0.000000e+00,7.538896e+07
1,2,Litecoin,LTC,2013-04-30 23:59:59,4.572380,4.168960,4.403520,4.296490,0.000000e+00,7.402092e+07
2,3,Litecoin,LTC,2013-05-01 23:59:59,4.356860,3.520290,4.289540,3.801010,0.000000e+00,6.560460e+07
3,4,Litecoin,LTC,2013-05-02 23:59:59,4.039300,3.007170,3.780020,3.371980,0.000000e+00,5.828798e+07
4,5,Litecoin,LTC,2013-05-03 23:59:59,3.453610,2.395940,3.390440,3.044910,0.000000e+00,5.269485e+07
...,...,...,...,...,...,...,...,...,...,...
2986,2987,Litecoin,LTC,2021-07-02 23:59:59,138.787700,130.935471,137.299274,136.943696,1.418981e+09,9.141322e+09
2987,2988,Litecoin,LTC,2021-07-03 23:59:59,141.356011,134.945288,136.930584,140.279688,1.236494e+09,9.364008e+09
2988,2989,Litecoin,LTC,2021-07-04 23:59:59,147.836059,137.096427,140.317998,144.905849,1.431657e+09,9.672815e+09
2989,2990,Litecoin,LTC,2021-07-05 23:59:59,144.849333,134.960263,144.849333,138.073246,1.338246e+09,9.216723e+09
2990,2991,Litecoin,LTC,2021-07-06 23:59:59,142.703568,135.924837,137.951668,138.985636,1.504907e+09,9.277627e+09

In [26]:
# checking for mull values
df.isnull().sum().sum()
df.isna().sum()

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
dtype: int64

In [27]:
# dropping irrelevant columns
df = df.drop(columns=['SNo','Symbol'])
df.head()

,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,Litecoin,2013-04-29 23:59:59,4.57360,4.22564,4.36676,4.38390,0.0,7.538896e+07
1,Litecoin,2013-04-30 23:59:59,4.57238,4.16896,4.40352,4.29649,0.0,7.402092e+07
2,Litecoin,2013-05-01 23:59:59,4.35686,3.52029,4.28954,3.80101,0.0,6.560460e+07
3,Litecoin,2013-05-02 23:59:59,4.03930,3.00717,3.78002,3.37198,0.0,5.828798e+07
4,Litecoin,2013-05-03 23:59:59,3.45361,2.39594,3.39044,3.04491,0.0,5.269485e+07

In [28]:
# converting date to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [29]:
# data being analyzed for last five years, so filtering data for that date range
start = '2016-07-06'
end = '2021-07-06'

In [30]:
# creating a variable to store that date range
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [31]:
# creating a new dataframe after applying the above filters
litecoin_df = df.loc[fiveyears]
litecoin_df

,Name,Date,High,Low,Open,Close,Volume,Marketcap
1164,Litecoin,2016-07-06 23:59:59,4.507380,4.421910,4.464460,4.468220,3.238960e+06,2.079872e+08
1165,Litecoin,2016-07-07 23:59:59,4.526150,3.953990,4.496560,4.111880,6.277860e+06,1.914495e+08
1166,Litecoin,2016-07-08 23:59:59,4.226210,4.075170,4.115670,4.219910,5.033530e+06,1.965226e+08
1167,Litecoin,2016-07-09 23:59:59,4.237390,3.970790,4.237390,4.163070,6.256370e+06,1.939293e+08
1168,Litecoin,2016-07-10 23:59:59,4.150270,4.063260,4.121570,4.099830,3.039620e+06,1.910429e+08
...,...,...,...,...,...,...,...,...
2985,Litecoin,2021-07-01 23:59:59,144.136637,134.406025,144.136637,137.577528,1.681325e+09,9.183632e+09
2986,Litecoin,2021-07-02 23:59:59,138.787700,130.935471,137.299274,136.943696,1.418981e+09,9.141322e+09
2987,Litecoin,2021-07-03 23:59:59,141.356011,134.945288,136.930584,140.279688,1.236494e+09,9.364008e+09
2988,Litecoin,2021-07-04 23:59:59,147.836059,137.096427,140.317998,144.905849,1.431657e+09,9.672815e+09
2989,Litecoin,2021-07-05 23:59:59,144.849333,134.960263,144.849333,138.073246,1.338246e+09,9.216723e+09

In [32]:
# exporting the dataframe to csv
litecoin_df.to_csv('litecoin(fiveyears).csv')

# Storing file in MongoDB (DB name : Finale)

In [33]:
# Read in mongodb server location as client
client = MongoClient("mongodb+srv://Group7:Finale@finalsegment1.690c0.mongodb.net/bitcoin_db?retryWrites=true&w=majority",tlsCAFile=certifi.where())

In [34]:
# Find Databases
client.list_database_names()

['Bitcoin_db',
 'Cardano_DB',
 'Ethereum_db',
 'Finale',
 'Tether_DB',
 'XRP_DB',
 'admin',
 'local']

In [35]:
# connecting to the db on MongoDb and creating collection in the db
db = client['Finale']
collection = db['Litecoin']

In [36]:
# adding dataframe to mongoDb
litecoin_df.reset_index(inplace=True)
litecoin_df_dict = litecoin_df.to_dict("records")

In [37]:
# Insert collection
collection.insert_many(litecoin_df_dict)