# Moving hourly csv files to MongoDB Atlas Hourly_Cryptocompare DB

In [32]:
# import libraries
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import certifi
from mongo2_config import mongo_uri

# Storing dataframe in MongoDB (DB name : Hourly_Cryptocompare)

In [35]:
# defining mongodb uri

coins=['binance', 'bitcoin', 'Cardano', 'dodgecoin', 'Ethereum', 'litecoin', 'monero', 'stellar', 'Tether', 'XRP']

client = MongoClient(mongo_uri,tlsCAFile=certifi.where())
db = client['Kaggle_data']
print(client.list_database_names())

['Finale', 'Kaggle_data', 'admin', 'local']

In [58]:
# # creating for loop for creating df from csv, adding symbol column and then uploading in mongodb
# for coin in coins:    
#     dataframe = pd.read_csv(coin+"(fiveyears)"+".csv")
#     dataframe["Symbol"] = coin 
#     collection = db[coin]
#     dataframe.reset_index(inplace=True)
#     dataframe_dict = dataframe.to_dict("records")
#     collection.insert_many(dataframe_dict)

In [19]:
All_coins_kaggle_df = pd.DataFrame()

for coin in coins:
    dataframe = pd.read_csv(coin+"(fiveyears)"+".csv", index_col=False)
    #append the new df
    All_coins_kaggle_df = All_coins_kaggle_df.append(dataframe, ignore_index = True)
    All_coins_kaggle_df.reset_index(drop=True, inplace=True)

print(All_coins_kaggle_df)
All_coins_kaggle_df

       Unnamed: 0          Name                 Date      High       Low  \
0               0  Binance Coin  2017-07-26 23:59:59  0.109013  0.099266
1               1  Binance Coin  2017-07-27 23:59:59  0.108479  0.100888
2               2  Binance Coin  2017-07-28 23:59:59  0.109019  0.101473
3               3  Binance Coin  2017-07-29 23:59:59  0.111264  0.101108
4               4  Binance Coin  2017-07-30 23:59:59  0.108138  0.103162
...           ...           ...                  ...       ...       ...
17417        2887           XRP  2021-07-01 23:59:59  0.704785  0.646796
17418        2888           XRP  2021-07-02 23:59:59  0.667287  0.634726
17419        2889           XRP  2021-07-03 23:59:59  0.683677  0.644653
17420        2890           XRP  2021-07-04 23:59:59  0.707783  0.665802
17421        2891           XRP  2021-07-05 23:59:59  0.695653  0.648492

           Open     Close        Volume     Marketcap
0      0.105893  0.105138  2.003950e+05  1.051380e+07
1      0.105108  0.107737  3.444990e+05  1.077370e+07
2      0.107632  0.104067  3.425680e+05  1.040670e+07
3      0.104782  0.107811  3.402180e+05  1.078110e+07
4      0.107935  0.106414  2.242610e+05  1.064140e+07
...         ...       ...           ...           ...
17417  0.704785  0.661180  2.553971e+09  3.051144e+10
17418  0.659890  0.656763  2.061607e+09  3.030759e+10
17419  0.655639  0.672888  1.872820e+09  3.105172e+10
17420  0.673218  0.694945  1.885242e+09  3.206960e+10
17421  0.695653  0.654300  2.076373e+09  3.019395e+10

[17422 rows x 9 columns]

,Unnamed: 0,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,0,Binance Coin,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,2.003950e+05,1.051380e+07
1,1,Binance Coin,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,3.444990e+05,1.077370e+07
2,2,Binance Coin,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,3.425680e+05,1.040670e+07
3,3,Binance Coin,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,3.402180e+05,1.078110e+07
4,4,Binance Coin,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,2.242610e+05,1.064140e+07
...,...,...,...,...,...,...,...,...,...
17417,2887,XRP,2021-07-01 23:59:59,0.704785,0.646796,0.704785,0.661180,2.553971e+09,3.051144e+10
17418,2888,XRP,2021-07-02 23:59:59,0.667287,0.634726,0.659890,0.656763,2.061607e+09,3.030759e+10
17419,2889,XRP,2021-07-03 23:59:59,0.683677,0.644653,0.655639,0.672888,1.872820e+09,3.105172e+10
17420,2890,XRP,2021-07-04 23:59:59,0.707783,0.665802,0.673218,0.694945,1.885242e+09,3.206960e+10
17421,2891,XRP,2021-07-05 23:59:59,0.695653,0.648492,0.695653,0.654300,2.076373e+09,3.019395e+10

In [21]:
# dropping irrelevant columns
All_coins_kaggle_df = All_coins_kaggle_df.drop(columns=['Unnamed: 0'])
All_coins_kaggle_df.head()

,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,Binance Coin,2017-07-26 23:59:59,0.109013,0.099266,0.105893,0.105138,200395.0,10513800.0
1,Binance Coin,2017-07-27 23:59:59,0.108479,0.100888,0.105108,0.107737,344499.0,10773700.0
2,Binance Coin,2017-07-28 23:59:59,0.109019,0.101473,0.107632,0.104067,342568.0,10406700.0
3,Binance Coin,2017-07-29 23:59:59,0.111264,0.101108,0.104782,0.107811,340218.0,10781100.0
4,Binance Coin,2017-07-30 23:59:59,0.108138,0.103162,0.107935,0.106414,224261.0,10641400.0

In [22]:
# exporting the dataframe to csv
All_coins_kaggle_df.to_csv('All_coins_kaggle.csv')

In [36]:
collection = db['All_coins_kaggle_fiveyears']
# All_coins_kaggle_df.reset_index(inplace=True)
All_coins_kaggle_df_dict = All_coins_kaggle_df.to_dict("records")
collection.insert_many(All_coins_kaggle_df_dict)