# Extracting Data from https://www.kaggle.com/sudalairajkumar/cryptocurrencypricehistory?select=coin_Stellar.csv and preprocessing and saving onto a MongoDB database

In [21]:
# import libraries
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import certifi

In [22]:
# create a dataframe from the csv
path ="C:/UC_Berkeley\Analysis_Projects_Class_Folder/Module20_Final_Project\Data_Kaggle_Historical/coin_Stellar.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Stellar,XLM,2014-08-06 23:59:59,0.003402,0.002266,0.002373,0.002657,3.581980e+04,9.663695e+05
1,2,Stellar,XLM,2014-08-07 23:59:59,0.003042,0.002455,0.002686,0.002501,1.428640e+05,1.079148e+06
2,3,Stellar,XLM,2014-08-08 23:59:59,0.003243,0.002493,0.002493,0.002881,9.370780e+04,1.260109e+06
3,4,Stellar,XLM,2014-08-09 23:59:59,0.003710,0.002873,0.002884,0.003481,2.335790e+05,1.645185e+06
4,5,Stellar,XLM,2014-08-10 23:59:59,0.007620,0.003363,0.003497,0.004303,3.527370e+05,2.216012e+06
...,...,...,...,...,...,...,...,...,...,...
2522,2523,Stellar,XLM,2021-07-02 23:59:59,0.273359,0.252874,0.269148,0.263427,3.487793e+08,6.118631e+09
2523,2524,Stellar,XLM,2021-07-03 23:59:59,0.270331,0.259710,0.263304,0.264324,3.310069e+08,6.139464e+09
2524,2525,Stellar,XLM,2021-07-04 23:59:59,0.272314,0.259118,0.264254,0.268128,3.376196e+08,6.227819e+09
2525,2526,Stellar,XLM,2021-07-05 23:59:59,0.268272,0.252300,0.268272,0.254456,3.359242e+08,5.910264e+09
2526,2527,Stellar,XLM,2021-07-06 23:59:59,0.267757,0.253547,0.253931,0.260190,3.604261e+08,6.049985e+09

In [23]:
# checking for mull values
df.isnull().sum().sum()
df.isna().sum()

SNo          0
Name         0
Symbol       0
Date         0
High         0
Low          0
Open         0
Close        0
Volume       0
Marketcap    0
dtype: int64

In [24]:
# dropping irrelevant columns
df = df.drop(columns=['SNo', 'Symbol'])
df.head()

,Name,Date,High,Low,Open,Close,Volume,Marketcap
0,Stellar,2014-08-06 23:59:59,0.003402,0.002266,0.002373,0.002657,35819.800781,9.663695e+05
1,Stellar,2014-08-07 23:59:59,0.003042,0.002455,0.002686,0.002501,142864.000000,1.079148e+06
2,Stellar,2014-08-08 23:59:59,0.003243,0.002493,0.002493,0.002881,93707.796875,1.260109e+06
3,Stellar,2014-08-09 23:59:59,0.003710,0.002873,0.002884,0.003481,233579.000000,1.645185e+06
4,Stellar,2014-08-10 23:59:59,0.007620,0.003363,0.003497,0.004303,352737.000000,2.216012e+06

In [25]:
# converting date to datetime format
df['Date'] = pd.to_datetime(df['Date'])

In [26]:
# data being analyzed for last five years, so filtering data for that date range
start = '2016-07-06'
end = '2021-07-06'

In [27]:
# creating a variable to store that date range
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [28]:
# creating a new dataframe after applying the above filters
stellar_df = df.loc[fiveyears]
stellar_df

,Name,Date,High,Low,Open,Close,Volume,Marketcap
700,Stellar,2016-07-06 23:59:59,0.001937,0.001831,0.001869,0.001846,4.533210e+04,1.012662e+07
701,Stellar,2016-07-07 23:59:59,0.001855,0.001697,0.001847,0.001740,7.104400e+04,9.545357e+06
702,Stellar,2016-07-08 23:59:59,0.001870,0.001730,0.001740,0.001870,6.306720e+04,1.025553e+07
703,Stellar,2016-07-09 23:59:59,0.001830,0.001732,0.001824,0.001763,2.946250e+04,9.673173e+06
704,Stellar,2016-07-10 23:59:59,0.001887,0.001751,0.001763,0.001852,5.231730e+04,1.015679e+07
...,...,...,...,...,...,...,...,...
2521,Stellar,2021-07-01 23:59:59,0.283182,0.260186,0.283182,0.269746,3.712852e+08,6.265387e+09
2522,Stellar,2021-07-02 23:59:59,0.273359,0.252874,0.269148,0.263427,3.487793e+08,6.118631e+09
2523,Stellar,2021-07-03 23:59:59,0.270331,0.259710,0.263304,0.264324,3.310069e+08,6.139464e+09
2524,Stellar,2021-07-04 23:59:59,0.272314,0.259118,0.264254,0.268128,3.376196e+08,6.227819e+09
2525,Stellar,2021-07-05 23:59:59,0.268272,0.252300,0.268272,0.254456,3.359242e+08,5.910264e+09

In [29]:
# exporting the dataframe to csv
stellar_df.to_csv('stellar(fiveyears).csv')

# Storing file in MongoDB (DB name : Finale)

In [30]:
# Read in mongodb server location as client
client = MongoClient("mongodb+srv://Group7:Finale@finalsegment1.690c0.mongodb.net/bitcoin_db?retryWrites=true&w=majority",tlsCAFile=certifi.where())

In [31]:
# Find Databases
client.list_database_names()

['Bitcoin_db',
 'Cardano_DB',
 'Ethereum_db',
 'Finale',
 'Tether_DB',
 'XRP_DB',
 'admin',
 'local']

In [32]:
db = client['Finale']
collection = db['Stellar']

In [33]:
stellar_df.reset_index(inplace=True)
stellar_df_dict = stellar_df.to_dict("records")

In [34]:
# Insert collection
collection.insert_many(stellar_df_dict)