In [1]:
import pandas as pd
import numpy as np

In [2]:
path ="./archive/coin_Tether.csv"
df = pd.read_csv(path)
df

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Tether,USDT,2015-02-26 23:59:59,1.212320,1.194710,1.210420,1.205740,5.955460e+00,3.033642e+05
1,2,Tether,USDT,2015-03-02 23:59:59,0.607890,0.568314,0.571249,0.606502,3.032500e+00,1.525959e+05
2,3,Tether,USDT,2015-03-03 23:59:59,0.606229,0.604416,0.605129,0.606229,3.031130e+00,1.525272e+05
3,4,Tether,USDT,2015-03-06 23:59:59,1.000000,1.000000,1.000000,1.000000,9.264720e+01,2.516000e+05
4,5,Tether,USDT,2015-03-07 23:59:59,1.000000,1.000000,1.000000,1.000000,5.819680e+04,2.516000e+05
...,...,...,...,...,...,...,...,...,...,...
2313,2314,Tether,USDT,2021-07-02 23:59:59,1.000830,0.999991,1.000301,1.000033,4.562659e+10,6.237592e+10
2314,2315,Tether,USDT,2021-07-03 23:59:59,1.000674,0.999914,1.000046,0.999956,4.119499e+10,6.237115e+10
2315,2316,Tether,USDT,2021-07-04 23:59:59,1.000165,0.998902,0.999987,0.999501,4.306666e+10,6.234274e+10
2316,2317,Tether,USDT,2021-07-05 23:59:59,1.001040,0.999426,0.999426,1.000667,4.721585e+10,6.241550e+10
2317,2318,Tether,USDT,2021-07-06 23:59:59,1.000879,0.999825,1.000728,1.000090,5.105419e+10,6.233384e+10

In [3]:
df = df.drop(columns=['SNo', 'Name', 'Symbol'])
df.head()

,Date,High,Low,Open,Close,Volume,Marketcap
0,2015-02-26 23:59:59,1.212320,1.194710,1.210420,1.205740,5.955460,303364.1840
1,2015-03-02 23:59:59,0.607890,0.568314,0.571249,0.606502,3.032500,152595.9032
2,2015-03-03 23:59:59,0.606229,0.604416,0.605129,0.606229,3.031130,152527.2164
3,2015-03-06 23:59:59,1.000000,1.000000,1.000000,1.000000,92.647202,251600.0000
4,2015-03-07 23:59:59,1.000000,1.000000,1.000000,1.000000,58196.800781,251600.0000

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
start = '2016-07-06'
end = '2021-07-06'

In [6]:
fiveyears = (df['Date']>start) & (df['Date']<= end)

In [7]:
bitcoin_df = df.loc[fiveyears]
bitcoin_df

,Date,High,Low,Open,Close,Volume,Marketcap
491,2016-07-06 23:59:59,1.000000,1.000000,1.000000,1.000000,5.679090e+05,5.951591e+06
492,2016-07-07 23:59:59,1.000000,0.999989,1.000000,0.999991,1.875330e+06,5.951537e+06
493,2016-07-08 23:59:59,0.999999,0.999989,0.999991,0.999999,1.277010e+06,5.951585e+06
494,2016-07-09 23:59:59,0.999999,0.999999,0.999999,0.999999,8.784860e+05,5.951585e+06
495,2016-07-10 23:59:59,0.999999,0.999999,0.999999,0.999999,2.846420e+05,5.951585e+06
...,...,...,...,...,...,...,...
2312,2021-07-01 23:59:59,1.000640,0.999997,1.000201,1.000226,5.457746e+10,6.239234e+10
2313,2021-07-02 23:59:59,1.000830,0.999991,1.000301,1.000033,4.562659e+10,6.237592e+10
2314,2021-07-03 23:59:59,1.000674,0.999914,1.000046,0.999956,4.119499e+10,6.237115e+10
2315,2021-07-04 23:59:59,1.000165,0.998902,0.999987,0.999501,4.306666e+10,6.234274e+10
2316,2021-07-05 23:59:59,1.001040,0.999426,0.999426,1.000667,4.721585e+10,6.241550e+10

In [8]:
bitcoin_df.to_csv('Tether(fiveyears).csv')